extends index

block right-panel
  div(class='scroll-container')
    div(class='article-format')
      h2 What do you want to know?

      p Hey there! Since you're on my "about" page I'm assuming you want to know a little more about who I am, what I do, and maybe why I have this website. 

      p If not maybe check out my <a class='in-text' href='/projects'>projects</a> or <a class='in-text' href='/blog'>blog</a> page instead.

      p Or if you're just interested in me professionally, check out my <a class='in-text' href='https://www.linkedin.com/in/brandon-aguirre-75660595/'>LinkedIn</a>!

      h2 About the website

      p My main two purposes of this website are to <strong>a)</strong> serve as a portfolio for my work, and <strong>b)</strong> to connect with people that might have similar interests as me. I love to learn and to share ideas. So this is my attempt at sending some signals out to connect with people who have similar interests and want to make some new connections and collaborations.

      p So <a class='in-text' href='#'>reach out</a> and tell me about yourself!

      h2 About me

      p I will have a BS in Computer Science from the University of Colorado at Boulder as of May 2019. I love to build things (mostly techy things). My passion is bringing ideas to life, especially if that means helping others accomplish their goals or helping people learn something new.

      p I believe that the web is a powerful medium for communicating ideas, and would say it's one of my favorite medium for building.

      p Good data gets me excited. I love finding patterns in data and creating visually appealing ways to display those patterns. I also enjoy modeling data using machine learning methods!

      p On a more personal level - I love the ocean and the Rocky Mountains (and really wish I could have both). I enjoy hiking, camping, playing soccer, jamming out on the guitar, and working out!

      p Thanks for checking out my about page!

      p: small Last updated 01/15/2019