a:link.card {
  text-decoration: none;
  color: inherit;
}

a:visited.card {
  text-decoration: none;
  color: inherit;
}

a:hover.card {
  text-decoration: none;
}

a:active.card {
  text-decoration: none;
}

.card {
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: box-shadow linear 0.2s;
}

.card.rounded {
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.2);
}

.card .card-im {
  min-height: 200px;
  max-height: 70%;
  width: 100%;
  // height: 500px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 1024px 500px;
  position: relative;
}

.card .card-info {
  padding: 15px 20px 20px 15px;
  text-align: center;
}

.card .card-info h1 {
  margin: 0;
  font-size: 1.3em;
  color: #878787;
}

.card .card-info p {
  margin: 0 0 10px 0;
}
