$link-color: #f62459;

$light-blue: #e9f4fb;
$dark-blue: #3498db;

$light-green: #e9fbf3;
$dark-green: #26c281;

$light-yellow: #fffdeb;
$dark-yellow: #fef160;

$light-red: #fde7e7;
$dark-red: #f03434;