.tbsco-form-wrap {
  padding: 20px;
  min-width: 200px;
  max-width: 400px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.tbsco-form-wrap form {
  
}

.tbsco-form-wrap form input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.tbsco-form-wrap form label {
  display: block;
}